*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 50px;
    height: 60px;
    box-shadow: 0 0 3px 0 #ddd;
    z-index: 99;
}
.logo{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #333;
    margin: 0;
    padding: 0;
}
.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    margin-left: 15px;
    transition: .3s ease-in-out;
}
.nav-link:hover{
    color: tomato;
}
.menu-btn{
    display: none !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}
.menu-bar{
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 1px;
    margin-bottom: 4px;
}
.menu-bar-med{
    width: 19px;
    height: 2px;
    background: #333;
    border-radius: 1px;
}
.menu-bar-short{
    width: 13px;
    height: 2px;
    background: #333;
    border-radius: 1px;
    justify-self: flex-end;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #eee;
    z-index: 999;
    transform: translateX(110%);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.mobile-menu-active{
    transform: translateX(0);
}
.mobile-navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    width: 100%;
    margin-top: 35px;
}
.mobile-close{
    position: absolute;
    top: 5px;
    right: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    transform: rotate(45deg);
    z-index: 9999;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.mobile-nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    padding: 8px 20px;
    width: 100%;
    transition: .2s ease-in-out
}
.mobile-nav-link:hover{
    background: #e0e0e0;
}
#main{
    position: relative;
}
.section{
    position: relative;
    width: 100%;
}
.top-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(253, 253, 253);
    box-shadow: 0 0 3px 0 #f0f0f0;
}
#title{
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    color: #333;
    margin: 20px 0 0 0;
    padding: 0;
}
.subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: tomato;
    margin: 0;
    padding: 0;
}
.projects-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    background: transparent;
    border: 1.5px solid #333;
    border-radius: 1px;
    color: #333;
    padding: 5px 25px 6px 25px;
    margin-top: 35px;
    transition: .3s ease-in-out;
}
.projects-btn:hover{
    color: #fff;
    background: tomato;
    border: 1.5px solid tomato;
}
.about-section{
    background: #f8f8f8;
    padding: 20px;
}
.section-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    color: #222;
    text-align: center;
}
.title-line{
    background: tomato;
    height: 3px;
    width: 80px;
    margin: 5px auto 0 auto;
    border-radius: 1px;
}
.section-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .73);
    max-width: 700px;
    padding: 0 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
}
.skills-fluid{
    position: relative;
    max-width: 700px;
    margin: 30px auto 20px auto;
}
.skills-title{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    align-content: center;

}
.skills-btn{
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    color: #333;
    background: #f0f0f0;
    border-radius: 3px;
    padding: 5px 20px;
    text-align: center;
    border: 0.5px solid #e0e0e0;
    width: 160px;
    box-shadow: 0 0 2px #ddd;
}
.projects-section{
    padding: 20px 40px;
}
.projects-fluid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    margin: 30px auto 0 auto;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.project-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;
    height: 200px !important;
    background: #f0f0f0;
    flex-basis: 1;
}
.project-right{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    max-width: 500px;
    flex-shrink: 1;
    margin-left: 30px;
}
.project-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #222;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
}
.project-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.73);
    margin: 0;
    padding: 0;
    flex-shrink: 1;
}
.project-btn{
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    background: tomato;
    border: 1.5px solid tomato;
    padding: 5px 10px 6px 10px;
    margin: 0;
    flex-shrink: 1;
    transition: .3s ease-in-out;
}
.project-btn:hover{
    background: transparent;
    color: tomato;
}
.contact-section{
    background: #272727;
    padding: 10px;
}
.contact-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    max-width: 700px;
    padding: 0 40px 20px 40px;
    color: #f0f0f0;
    margin: 0 auto;
    text-align: center;
}
#form{
    margin: 30px auto;
    max-width: 500px;
    background: #fafafa;
    border-radius: 2px;
    padding: 5px 25px;
}
.form-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    color: #333;
    text-align: center;
    margin: 10px 0 -10px 0;
    padding: 0;
}
.input-fluid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 30px 0;
}
label{
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 5px;
}
input{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    background: transparent;
    color: #222;
    border: none;
    outline: none;
    border-bottom: 1.5px solid tomato;
    border-radius: 1px;
    text-indent: 5px;
    width: 100%;
    box-shadow: 0 4px 4px 0 #f0f0f0;
}
textarea{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #222;
    background: transparent;
    outline: none;
    border: 1.5px solid #eee;
    border-bottom: 1.5px solid tomato;
    border-radius: 1px;
    resize: none;
    padding: 5px 10px;
    width: 100%;
    height: 200px;
    box-shadow: 4px 4px 4px 0 #f0f0f0;
}
#submit{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background: tomato;
    color: #fff;
    padding: 9px 25px 10px 25px;
    margin: 0 0 15px 0;
    border: 1.5px solid rgb(255, 89, 61);
    outline: none;
    border-radius: 1.5px;
    box-shadow: 1px 2px 4px 0 #bbb;
    cursor: pointer;
    transition: .3s ease-in-out;
}
#submit:hover{
    background: transparent;
    color: tomato;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: #171717;
    padding: 30px 60px;
    color: #f8f8f8;
}
.footer-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}
.footer-text{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
}
.copyright{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    flex-grow: 1;
}
.footer-title{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0 0 15px 0;
    padding: 0;
}
#github-icon{
    font-size: 2rem;
    color: #fff;
}


.white-txt{
    color: #fff !important;
}

/* Media Queries */
@media(max-width: 650px){
    .menu-btn{
        display: flex !important;
    }
    #navbar{
        display: none;
    }
    #title{
        font-size: calc(2.5rem + 1.5vw);
    }
    .subtitle{
        font-size: calc(1rem + 1.5vw);
    }
    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title{
        font-size: calc(2.5rem + 1.5vw);
    }
    .title-line{
        width: 45px;
    }
    #form{
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width: 850px){
    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        margin-left: 0;
    }
    .project-title{
        margin-bottom: 10px;
    }
    .project-text{
        text-align: center;
        margin-bottom: 20px;
        max-width: 300px;
    }
}
@media(max-width: 900px){
    .project-right{
        max-width: 450px;
    }
}
